.header-blue{
  background:linear-gradient(135deg, #085078,#85d8ce);
  background-color:#184e8e;
  padding-bottom:120px;
  font-family:'Source Sans Pro', sans-serif;
}

@media (max-width:767px) {
  .header-blue{
    padding-bottom:80px;
  }
}

.header-blue .navbar{
  background:transparent;
  padding-top:12px;
  padding-bottom:10px;
  color:#fff;
  border-radius:0;
  box-shadow:none;
  border:none;
}

@media (max-width:767px) {
  .header-blue .navbar{
    padding-top:0;
    padding-bottom:0;
  }
}

@media (max-width:767px) {
  .header-blue .navbar .navbar-header{
    padding-top:10px;
    padding-bottom:10px;
  }
}

@media (max-width:767px) {
  .header-blue .navbar .navbar-right{
    margin-bottom:20px;
  }
}

.header-blue .navbar .navbar-brand{
  font-weight:bold;
  color:inherit;
}

.header-blue .navbar .navbar-brand:hover{
  color:#f0f0f0;
}

.header-blue .navbar .navbar-brand img{
  height:100%;
  display:inline-block;
  margin-right:10px;
  width:auto;
}

.header-blue .navbar .navbar-collapse p{
  margin-top:10px;
  margin-bottom:0;
}

.header-blue .navbar .navbar-collapse p .login{
  color:#d9d9d9;
  margin-right:10px;
  text-decoration:none;
}

.header-blue .navbar .navbar-collapse p .login:hover{
  color:#fff;
}

.header-blue .navbar .navbar-toggle{
  border-color:rgba(255,255,255,0.3);
}

.header-blue .navbar .navbar-toggle:hover, .header-blue .navbar-toggle:focus{
  background:none;
}

.header-blue .navbar .navbar-toggle .icon-bar{
  background-color:#eee;
}

.header-blue .navbar .navbar-collapse, .header-blue .navbar .navbar-form{
  border-color:rgba(255,255,255,0.3);
}

.header-blue .navbar .navbar-nav > .active > a, .header-blue .navbar .navbar-nav > .open > a{
  background:none;
  box-shadow:none;
}

.header-blue .navbar.navbar-default .navbar-nav > .active > a, .header-blue .navbar.navbar-default .navbar-nav > .active > a:focus, .header-blue .navbar.navbar-default .navbar-nav > .active > a:hover{
  color:rgba(255,255,255,0.3);
  box-shadow:none;
  background:none;
  pointer-events:none;
}

.header-blue .navbar.navbar .navbar-nav > li > a{
  padding-left:18px;
  padding-right:18px;
}

.header-blue .navbar.navbar-default .navbar-nav > li > a{
  color:#d9d9d9;
}

.header-blue .navbar.navbar-default .navbar-nav > li > a:focus, .header-blue .navbar.navbar-default .navbar-nav > li > a:hover{
  color:#fcfeff !important;
  background-color:transparent;
}

.header-blue .navbar .navbar-nav > li > .dropdown-menu{
  margin-top:-5px;
  box-shadow:0 4px 8px rgba(0,0,0,.1);
  background-color:#fff;
  border-radius:2px;
}

.header-blue .navbar .dropdown-menu > li > a:focus, .header-blue .navbar .dropdown-menu > li > a{
  line-height:2;
  font-size:14px;
  color:#37434d;
}

.header-blue .navbar .dropdown-menu > li > a:focus, .header-blue .navbar .dropdown-menu > li > a:hover{
  background:#ebeff1;
}

@media (max-width:767px) {
  .header-blue .navbar .navbar-nav .open .dropdown-menu{
    box-shadow:none;
    background:none;
    color:#fff;
  }
}

@media (max-width:767px) {
  .header-blue .navbar .navbar-nav .open .dropdown-menu > li > a{
    color:#fdfeff;
    padding-top:12px;
    padding-bottom:12px;
    line-height:1;
  }
}

.header-blue .action-button, .header-blue .action-button:active{
  border:1px solid rgba(255,255,255,0.7);
  border-radius:20px;
  color:#ebeff1;
  box-shadow:none;
  text-shadow:none;
  padding:6px 15px;
  background:transparent;
  transition:background-color 0.25s;
  outline:none;
}

.header-blue .action-button:hover{
  color:#fff;
}

.header-blue .action-button.btn-lg{
  padding:7px 18px;
}

.header-blue .navbar .navbar-form label{
  color:#ccc;
}

.header-blue .navbar .navbar-form .search-field{
  background:none;
  border:none;
  border-bottom:1px solid transparent;
  border-radius:0;
  color:#ccc;
  box-shadow:none;
  color:inherit;
  transition:border-bottom-color 0.3s;
}

@media (max-width:767px) {
  .header-blue .navbar .navbar-form .search-field{
    display:inline-block;
    width:80%;
  }
}

.header-blue .navbar .navbar-form .search-field:focus{
  border-bottom:1px solid #ccc;
}

.header-blue .hero{
  margin-top:60px;
}

@media (max-width:767px) {
  .header-blue .hero{
    margin-top:20px;
    text-align:center;
  }
}

.header-blue .hero h1{
  color:#fff;
  font-size:40px;
  margin-top:190px;
  margin-bottom:24px;
  font-weight:300;
}

@media (max-width:991px) {
  .header-blue .hero h1{
    margin-top:0;
    margin-bottom:15px;
    line-height:1.4;
  }
}

.header-blue .hero p{
  color:rgba(255,255,255,0.8);
  font-size:20px;
  margin-bottom:30px;
  font-weight:300;
}

.header-blue .phone-holder{
  text-align:right;
}

.header-blue div.iphone-mockup{
  position:relative;
  max-width:300px;
  margin:20px;
  display:inline-block;
}

.header-blue .iphone-mockup img.device{
  width:100%;
  height:auto;
}

.header-blue .iphone-mockup .screen{
  position:absolute;
  width:88%;
  height:77%;
  top:12%;
  border-radius:2px;
  left:6%;
  border:1px solid #444;
  background-color:#aaa;
  overflow:hidden;
  background:url(../../assets/img/skyscraper.jpg);
  background-size:cover;
  background-position:center;
}

.header-blue .iphone-mockup .screen:before{
  content:'';
  background-color:#fff;
  position:absolute;
  width:70%;
  height:140%;
  top:-12%;
  right:-60%;
  transform:rotate(-19deg);
  opacity:0.2;
}

html{
    background: url("background.jpg") no-repeat;
	background-size: cover;
    min-height: 100%;
}

body{
	background-color: transparent;
}

#image{
	float:left;
	background-image: url("https://cdn4.iconfinder.com/data/icons/ios7-active-basic/512/user_access-512.png");
	height: 500px;
	width: 50%;
	background-size: cover;
	background-position: 25%;
}
.form-control
{
	width:400px;
	height:30px;
	align:center;
	
}



/* Shared */
.loginBtn {
  box-sizing: border-box;
  position: relative;
  /* width: 13em;  - apply for fixed size */
  margin: 0.2em;
  padding: 0 15px 0 46px;
  border: none;
  text-align: left;
  line-height: 34px;
  white-space: nowrap;
  border-radius: 0.2em;
  font-size: 16px;
  color: #FFF;
}
.loginBtn:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 100%;
}
.loginBtn:focus {
  outline: none;
}
.loginBtn:active {
  box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
}


/* Facebook */
.loginBtn--facebook {
  background-color: #4C69BA;
  background-image: linear-gradient(#4C69BA, #3B55A0);
  /*font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;*/
  text-shadow: 0 -1px 0 #354C8C;
}
.loginBtn--facebook:before {
  border-right: #364e92 1px solid;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') 6px 6px no-repeat;
}
.loginBtn--facebook:hover,
.loginBtn--facebook:focus {
  background-color: #5B7BD5;
  background-image: linear-gradient(#5B7BD5, #4864B1);
}


/* Google */
.loginBtn--google {
  /*font-family: "Roboto", Roboto, arial, sans-serif;*/
  background: #DD4B39;
}
.loginBtn--google:before {
  border-right: #BB3F30 1px solid;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png') 6px 6px no-repeat;
}
.loginBtn--google:hover,
.loginBtn--google:focus {
  background: #E74B37;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}